<script type="text/javascript">
   var userinfo = {
       usernameh: ko.observable('{{.Username}}'),
       menunameh: ko.observable('{{.Menuname}}'),
       rolenameh: ko.observable('{{.Rolename}}'),
       locationid: ko.observable('{{.LocationId}}'), 
       locationname: ko.observable('{{.LocationName}}'), 
   }
</script>
<style type="text/css">
   .portlet.box.twist {
   background-color: #e5e5e5;
   border: 1px solid #e5e5e5;
   }
   .k-grid td {
   border-width: 0;
   border-color: white;
   }
   .portlet-title .caption {
   color: #3d3d3d;
   }
   .portlet.box.twist.filter {
   background-color: #e5e5e5;
   border: 1px solid #e5e5e5;
   margin-left: -40px;
   }
   body {
   font-family: Helvetica;
   }
   h1 {
   font-size: 18px;
   }
   .row {
   margin-bottom: 10px;
   }
   .left,
   .right {
   display: inline-block;
   margin-right: 20px;
   position: relative;
   }
   .swatch {
   display: inline-block;
   width: 60px;
   height: 50px;
   }
   .swatch.overlay {
   position: absolute;
   left: 60px;
   }
   div.checker {
   display: none;
   }
   .space{
   padding-left: 5px;
   padding-right: 5px;
   }
   input {
   width: 192px;
   }
</style>
<script src="{{BaseUrl}}res/switch-js/bootstrap-switch.js"></script>
<script src="{{BaseUrl}}res/switch-js/highlight.js"></script>
<script src="{{BaseUrl}}res/switch-js/main.js"></script>
<link href="{{BaseUrl}}res/switch-css/bootstrap-switch.css" rel="stylesheet">
<script src="{{BaseUrl}}res/main/js/basic.js" type="text/javascript"></script>
<script src="{{BaseUrl}}res/main/js/transaction-invoice.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{BaseUrl}}res/main/css/invoice.css">
<link rel="stylesheet" href="{{BaseUrl}}res/main/css/transaction.css">
<script type="text/html" id="tableRow"> 
   <tr>
       {{UnescapeHTML "<!-- ko if:typeof CodeItem != 'undefined' -->" }}
        <td class="invhideNon">
            <select name="codeitem" style="width:200px" class="full-width formInput form-control input-md codeitem " data-bind="attr: {id: 'itemcode_' + $index() },kendoDropDownList: { data: invoice.dataDropDownInventory, dataValueField: 'Kode', dataTextField: 'Name', value: CodeItem, optionLabel:'Select one', filter: 'contains', change: function(e){ invoice.onChangeCodeItem(e.sender._old, $index())}}"></select>
       </td>
         {{UnescapeHTML "<!-- /ko -->" }}
       <td>
           <input id="item" name="item" type="text" class="formInput form-control input-md" data-bind="value:Item,attr: {id: 'item_' + $index() }">
       </td>
       <td align="center">
           <input id="qty" name="qty" type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="formInput form-control input-md" data-bind="value:Qty,attr: {id: 'qty_' + $index() }">
       </td>
      <!--  <td>
           <input id="priceUSD" name="priceUSD" type="text" class="formInput form-control input-md priceusd currency" data-bind="value:PriceUSD, attr: {id: 'priceUSD_' + $index() }">
       </td> -->
       <td>
           <input id="priceIDR" name="priceIDR" type="text" class="formInput form-control input-md priceidr currency" data-bind="value:PriceIDR, attr: {id: 'priceIDR_' + $index() }">
       </td>
      <!--  <td>
           <input id="amountUSD" disabled="disabled" name="amountUSD" class="Amount form-control input-md currency" data-bind="value:AmountUSD, attr: {id: 'amountUSD_' + $index() }">
   
       </td> -->
       <td>
           <input id="amountIDR" disabled="disabled" name="amountIDR" class="Amount form-control input-md currency" data-bind="value:AmountIDR, attr: {id: 'amountIDR_' + $index() }">
       </td>
       <td class="invhide">
           <div class="align-center">
               <button class="btn btn-danger btn-xs btnDeleteSummary" id="btnDelete" data-bind="click:invoice.removerow"><i class="fa fa-times"></i></button>
           </div>
       </td>
   </tr>
</script>
<script id="noDataTemplate" type="text/x-kendo-tmpl">
   <div>
      No data found.Do you want to add new item - '#: instance.filterInput.val() #' ?
   </div>
   <br/>
   <button class="btn btn-sm btn green-meadow btn-flat" onclick="invoice.addCategory('#: instance.element[0].id #', '#: instance.filterInput.val() #')"><i class="fa fa-plusa"></i> Add New Item</button>
</script>
<div class="page-bar">
   <ul class="page-breadcrumb">
      <li>
         <span class="bar">Transaction</span>
         <i class="fa fa-circle"></i>
      </li>
      <li>
         <a href="/transaction/invoice">Invoice</a>
      </li>
   </ul>
   <div class="page-toolbar">
      <div class="pull-right tooltips btn" data-container="body" data-placement="bottom" data-original-title="date now">
         <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
         <span class="thin uppercase hidden-xs font2" data-bind="text:invoice.DatePageBar"></span>&nbsp;
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-12 panel-content">
      <div class="portlet box twis">
         <div class="portlet-title">
            <div class="caption">
               Invoice &nbsp;
            </div>
            <div>
              <button id="noninv" type="button" class="btn btn-sm btn-success btn-flat " onclick="invoice.choose('ACTIVA')" data-toggle="modal" data-target="#AddNewModal"><i class="fa fa-plus"></i>&nbsp;Invoice Non Inventory</button>
              <button id="inv" type="button" class="btn btn-sm btn-success btn-flat " onclick="invoice.choose('IVENTORY')" data-toggle="modal" data-target="#AddNewModal"><i class="fa fa-plus"></i>&nbsp;Invoice Inventory</button>
            </div>
         </div>
         <div class="portlet-body">
            <div class="row">
               <div class="col-md-12">
                  <div class="col-md-12">
                  </div>
               </div>
            </div>
            <br>
            <div class="row">
               <div class="col-md-12" id="tabs">
                  <ul class="nav nav-tabs" role="tablist">
                     <li role="presentation" class="active tab1"><a href="#listinvoice" aria-controls="List" role="tab" data-toggle="tab" onclick="invoice.search('tab')" >List Invoice <span data-bind="text:invoice.names"></span></a></li>
                     <li role="presentation"><a href="#createinvoice" class="" aria-controls="Create" role="tab" data-toggle="tab" onclick="invoice.formCreated()">Create Invoice <span data-bind="text:invoice.names"></span></a></li>
                  </ul>
                  <div class="tab-content">
                     <!--panel list-->
                     <div role="tabpanel" class="tab-pane active" id="listinvoice">
                        <div class="tab-pane-content">
                           <div class="row">
                              <div class="col-md-12">
                                 <label>Status :</label>
                                 <select id="multiselect" data-bind="kendoDropDownList: {data: invoice.filterStatus, dataValueField:'value', dataTextField:'text', value:invoice.statusText,optionLabel:'Select Status', change: function(e){invoice.onChangeStatus(e.sender._old)}}" class="filter-space"></select>
                                 <label>Customer :</label>
                                 <select name="Site" class="full-width" data-bind="kendoDropDownList: { data: invoice.dataDropDownCustomerFilter, dataValueField: 'Kode', dataTextField: 'Name',optionLabel:'Select one',filter: 'contains'},value: invoice.textCustomerSearch" class="filter-space"></select>
                                 <!-- <label>From :</label>
                                 <input type="text" id="dateStart" data-bind="kendoDatePicker:{value:new Date(),format:'dd-MMM-yyyy'}" class="filter-space" />
                                 <label >To :</label>
                                 <input type="text" id="dateEnd" data-bind="kendoDatePicker:{value:new Date(),format:'dd-MMM-yyyy'}" class="filter-space" /> -->
                                 <label>From :</label>
                                 <input type="text" id="dateStart" data-bind="kendoDatePicker:{value:invoice.DateStart,format:'dd-MMM-yyyy',change: function(e){invoice.onChangeDateStart(e.sender._old)}}"
                                    class="filter-space" />
                                 <label>To :</label>
                                 <input type="text" id="dateEnd" data-bind="kendoDatePicker:{value:invoice.DateEnd,format:'dd-MMM-yyyy', min:invoice.DateStart}"
                                    class="filter-space" />
                                 <label> &nbsp Location :</label>
                                 <select id="storehouse" 
                                    data-bind="kendoDropDownList: {value: invoice.valueStorehouse, data: invoice.warehouse, dataValueField: 'value', dataTextField: 'text', optionLabel: 'Select ..'}"
                                    name="storehouse">
                                 </select>
                                 <button type="button" onclick="invoice.search()" class="btn btn-sm btn-refresh"><i class="fa fa-search"></i> Search</button>
                                 <button onclick="invoice.exportExcel()" type="button" class="btn btn-sm btn-outline green"><i class="fa fa-file-excel-o"></i>&nbsp;Export
                                    To Excel</button>
                                 <button type="button" onclick="invoice.detailReportPdfSwitch()" class="btn btn-sm btn-danger btn-flat"><i
                                          class="fa fa-list-ul"></i>&nbsp;Print All</button>
                            </div>
                              <div class="col-md-12 padding-top-10px" data-bind="visible: !model.Processing()">
                                 <div id="gridListInvoice" class="margin15">
                                 </div>
                              </div>
                              {{template "_loader2.html"}}
                           </div>
                        </div>
                     </div>
                     <!--panel Create-->
                     <div role="tabpanel" class="tab-pane " id="createinvoice">
                        <div class="tab-pane-content padding-right" data-bind="with:invoice.record">
                           <div class="row">
                              <div class="col-md-12" data-bind="visible: !model.Processing()">
                                 <div class="col-md-12" data-bind="with:invoice.record">
                                    <div class="">
                                       <div class="row">
                                          <div class="col-md-12 titleformpo">
                                            Create Invoice <span data-bind="text:invoice.names"></span>
                                          </div>
                                       </div>
                                       <div class="row">
                                          <div class="row">
                                             <div class="col-sm-3">
                                                <input type="hidden" value="" id="tempCurrentBalance">
                                                <label class="col-md-12 padding-top">Customer Code</label>
                                                <div class="col-md-12">
                                                   <select id="customercode" data-bind="kendoDropDownList: {data: invoice.dataDropDownCustomerFilter, dataValueField: 'Kode', dataTextField: 'Name',optionLabel: 'Select Code..', filter: 'contains',value:CustomerCode, change: function(e){invoice.onChangeCustomerCode(e.sender._old)}}" name="customercode" class="select form-control"> </select>
                                                   <span class="k-invalid-msg" data-for="customercode"></span>
                                                </div>
                                             </div>
                                             <div class="col-sm-3">
                                                <label class="col-md-12 padding-top-line2">Customer Name</label>
                                                <div class="col-md-12">
                                                   <input type="text" disabled name="customername" id="customername" class="input-sm" placeholder="Type Customer Name" required validationMessage="Please Input Customer Name" data-bind="value:CustomerName" />
                                                   <span class="k-invalid-msg" data-for="customername"></span>
                                                </div>
                                             </div>
                                             <div class="col-sm-3">
                                                <label class="col-md-12 padding-top">Date</label>
                                                <div class="col-md-12">
                                                   <input type="text" class="" name="date" id="dateinvoice" data-bind="kendoDatePicker:{value:new Date(),format:'dd-MMM-yyyy'},value:DateCreated" style="width: 185px">
                                                   <span class="k-invalid-msg" data-for="customername"></span>
                                                </div>
                                             </div>
                                             <!-- <div class="col-md-3">
                                                <label class="col-md-12 padding-top">Account Number<br/></label>
                                                <div class="col-md-12">
                                                   <select id="accountnumber" data-bind="kendoDropDownList: {data: invoice.acccode, dataValueField: 'value', dataTextField: 'text',optionLabel: 'Select ...', value:AccountCode, filter: 'contains'}" name="accountnumber" class="select form-control input-sm">                     
                                                   </select>
                                                </div>
                                                </div> -->
                                             <div class="col-sm-3">
                                                <label class="col-md-12 padding-top">
                                                VAT
                                                </label>
                                                <div class="col-md-12">
                                                   <input type="checkbox" name="my-checkbox" id="my-checkbox">
                                                </div>
                                             </div>
                                          </div>
                                          <div class="row">
                                             <!--      <div class="col-md-3">
                                                <label class="col-md-12 padding-top-line2">Rate</label>
                                                <div class="col-md-12">
                                                   <input name="rate" type="text" id="rate" data-bind="value:Rate" class="input-sm formInput currency" required validationMessage="" />
                                                </div>
                                                </div> -->
                                             <div class="col-sm-3">
                                                <label class="col-md-12" style="padding-top: 15px">Sales Code</label>
                                                <div class="col-md-12">
                                                   <select id="salescode" data-bind="kendoDropDownList: {data: invoice.dataDropDownSales, dataValueField: 'Kode', dataTextField: 'Name', value:SalesCode, select: invoice.onSelect,optionLabel: 'Select ..'}" name="type" class="select form-control">
                                                   </select>
                                                </div>
                                             </div>
                                             <div class="col-sm-3">
                                                <label class="col-md-12" style="padding-top: 15px">Store Location</label>
                                                <div class="col-md-12">
                                                   <select id="storelocation" data-bind="kendoDropDownList: {data: invoice.dataMasterLocation, dataValueField: 'LocationID', dataTextField: 'Text', value:StoreLocationId, change: function(e){invoice.onChangeLocation(e.sender._old)},optionLabel: 'Select ..'}" name="type" class="select form-control">
                                                   </select>
                                                </div>
                                             </div>
                                             <div class="col-sm-3">
                                                <label class="col-md-12" style="padding-top: 15px;">Category</label>
                                                <div class="col-md-12">                                                                                                                            <!---change: function(e){invoice.onChangeCustomerCode(e.sender._old)}}-->
                                                   <div id="categoryDropdown"></div>
                                                </div>
                                             </div>
                                             <div class="col-sm-3 invhideNon">
                                                <label class="col-md-12" style="padding-top: 15px"> INV CMI</label>
                                                <div class="col-md-12">
                                                   <input type="checkbox" name="my-checkbox-inv-cmi" id="checkvat-inv-cmi">
                                                </div>
                                             </div>
                                             <div class="col-sm-6">
                                                <div class="col-md-12">
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="panel panel-default">
                                          <div class="panel-heading right-align ">
                                             <button type="button" id="addnewitem" class="btn btn-xs btn green-meadow btn-flat invhide" data-bind="click:invoice.addNewItem"><i class="fa fa-plus"></i></button>
                                          </div>
                                          <div  class="panel-body">
                                             <div class="table-responsive">
                                                <table class="table table-bordered">
                                                   <thead>
                                                      <tr>
                                                         <th class="style-th invhideNon" width="200px" >Code Item</th>
                                                         <th class="style-th" width="200px" >Item</th>
                                                         <th class="style-th" width="50px" style="">Quantity</th>
                                                         <th class="style-th-center" width="100px" style="">Price</th>
                                                         <th class="style-th-center" width="100px" style="">Amount</th>
                                                         <th class="style-th-center invhide" width="20px" style=""></th>
                                                      </tr>
                                                   </thead>
                                                   <tbody data-bind="template:{name:'tableRow', foreach:invoice.record.ListItem}"></tbody>
                                                </table>
                                                <table class="table borderless totaltext" border="0" data-bind="">
                                                   <tr>
                                                      <td class="thick-line" colspan="2" rowspan="5">
                                                         <strong>Description</strong>
                                                         <textarea rows="5" cols="50" class="input-sm form-control formInput" placeholder="Describe Description here" data-bind="{value:Description, text:Description}"></textarea>
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <td class="thick-line text-right"><strong>TOTAL</strong></td>
                                                      <td class="thick-line text-right">
                                                         <span data-bind="text:Total"></span>
                                                      </td>
                                                      <td class="thick-line text-right"></td>
                                                   </tr>
                                                   <tr>
                                                      <td class="text-right" style="padding-top: 8px"><strong>DISCOUNT</strong></td>
                                                      <td class="text-right">
                                                         <input id="discount" name="discount" type="number" step="0.01" placeholder="" class="input-sm formInput" data-bind="value:Discount,text:Discount"> %
                                                      </td>
                                                   </tr>
                                                   <tr data-bind="visible:invoice.BoolVat">
                                                      <td class=" text-right"><strong>VAT 10%</strong></td>
                                                      <td class=" text-right"> <span data-bind="text:VAT" class="currency"></span></td>
                                                   </tr>
                                                   <tr>
                                                      <td class="no-line text-right"><strong>GRAND TOTAL IDR</strong></td>
                                                      <td class="no-line text-right"> <span data-bind="text:GrandTotalIDR"></span></td>
                                                      <td class="no-line"></td>
                                                   </tr>
                                                   <!--      <tr>
                                                      <td class="no-line text-right"><strong>GRAND TOTAL USD</strong></td>
                                                      <td class="no-line text-right"> <span data-bind="text:GrandTotalUSD"></span></td>
                                                      <td class="no-line"></td>
                                                      </tr> -->
                                                </table>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row no-left-padding">
                                       <div class="col-md-12 align-right margin-left">
                                          <button type="button" id="Save" class="btn btn-sm btn-success btn-flat space style-button" data-bind="visible:invoice.showCreate" onclick="invoice.saveSwitch()"><i class="fa fa-floppy-o"></i> Save</button>
                                          <button data-bind="visible:invoice.showCreate" type="button" class="btn btn-sm btn-danger btn-flat space style-button" onclick="invoice.resetView()"><i class="fa fa-repeat"></i> Reset</button>
                                          <button data-bind="visible:invoice.showEdit" type="button" id="btnPosting" class="btn btn-sm btn-primary btn-flat space" onclick="invoice.postingSwitch()"><i class="fa fa-upload"></i> Posting</button>
                                          <button data-bind="visible:invoice.showEdit" type="button" id="btnSave" class="btn btn-sm btn-success btn-flat space style-button" onclick="invoice.saveSwitch()"><i class="fa fa-floppy-o"></i> Save</button>
                                          <button data-bind="visible:invoice.showEdit" type="button" id="btnDelete" class="btn btn-sm btn-danger btn-flat space style-button" onclick="invoice.delete()"><i class="fa fa-trash-o"></i> Delete</button>
                                       </div>
                                       <div class="col-md-12 align-right">
                                          <button type="button" id="btnPrint" data-bind="visible:invoice.printPDFListView" class="btn btn-sm btn-color-posting btn-flat margin-right-btn" onclick="invoice.printSwitch()"><i class="fa fa-print"></i> Print</button>
                                       </div>
                                       <div class="col-md-12 align-right style-backtolist" data-bind="visible:invoice.backToList">
                                          <button type="button" data-bind="click: invoice.backList" id="btnBack" class="btn btn-sm btn-default btn-flat btn-backlist"><i class="fa fa-mail-reply"></i> Back To List</button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              {{template "_loader2.html"}}
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--panel Draft-->
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="clearfix"></div>
<div class="row" data-bind="visible: model.Processing()">
   {{template "_loader2.html"}}
</div>