<style>
.adaptive-textbox {
   min-width: 130px;
}
@media only screen and (max-width: 1500px) {
   .adaptive-textbox {
      min-width: 120px;
   }
   .adaptive-dropdown {
      max-width: 120px;
   }
}
</style>
<script type="text/javascript">
    var userinfo ={
        usernameh: ko.observable('{{.Username}}'),
        menunameh: ko.observable('{{.Menuname}}'),
        rolenameh :ko.observable('{{.Rolename}}'),
    }
 </script>
 <script src="{{BaseUrl}}res/main/js/transaction-multijournal.js" type="text/javascript"></script>
 <link rel="stylesheet" href="{{BaseUrl}}res/main/css/transaction.css">
 <script id="noDataTemplate" type="text/x-kendo-tmpl">
    <div>
        No data found. Do you want to add new item - '#: instance.filterInput.val() #' ?
    </div>
    <br />
    <button class="btn btn-sm btn green-meadow btn-flat" onclick="multijournal.addNewDepart('#: instance.element[0].id #', '#: instance.filterInput.val() #','#: instance #')"><i class="fa fa-plus"></i> Add new item</button>
</script>
 <div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
          <span class="bar">Transaction</span>
          <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="/transaction/multijournal">Multi Journal</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="pull-right tooltips btn" data-container="body" data-placement="bottom" data-original-title="date now">
            <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
            <span class="thin uppercase hidden-xs font2" data-bind="text:multijournal.DatePageBar"></span>&nbsp;
        </div>
    </div>
</div>
<script id="tableRow" type="text/html">
<tr>
   <td rowspan="2">
      <input type="text" style="min-width: 40px" name="txtNo" class="form-control input-sm" data-bind="value:No" disabled>
   </td>
   <td style="border-bottom: none">
      <input id="DATEPOSTING" type="text" name="txtPostingDate" class="form-control input-sm datePosting" data-bind="kendoDatePicker:{value: PostingDate, format:'dd-MMM-yyyy',min:multijournal.lastDate,change: function(e){ multijournal.onChangeDate(e.sender._old, $index())}}"  style="width: 115px;">
   </td>
   <td style="border-bottom: none">
      <select name="Site" class="full-width adaptive-dropdown" data-bind="kendoDropDownList: { data: multijournal.dataMasterAccount, dataValueField: 'ACC_Code', dataTextField: 'CodeName', value: Acc_Code, optionLabel:'Select one', filter: 'contains', change: function(e){ multijournal.onChangeAccountNumber(e.sender._old, $index())}}"></select>
   </td>
    <td>
        <select name="Department" class="full-width adaptive-dropdown" data-bind="kendoDropDownList: { data: multijournal.dataDepartment, dataValueField: 'DepartmentName', dataTextField: 'DepartmentName', value: Department, optionLabel:'Select one', filter: 'contains',noDataTemplate:$('#noDataTemplate').html()},attr: {id: 'department' + $index() }"></select>
    </td>
    <td rowspan="1">
         <select name="Sales" class="full-width salesDropdown adaptive-dropdown" data-bind="kendoDropDownList: { data: multijournal.dataSales, dataValueField: 'SalesCode', dataTextField: 'SalesName', value: SalesCode, optionLabel:'Select one', filter: 'contains',noDataTemplate:$('#noDataTemplate').html()},attr: {id: 'sales' + $index() }"></select>
     </td>
   <td rowspan="1">
   <input maxlength="22" style="text-align:right;" name="txtDebet" class="form-control input-sm currency debit adaptive-textbox" data-bind="value:Debet,attr: {id: 'debit_' + $index() }">
   </td>
   <td rowspan="1">
      <input maxlength="22" id="credit" style="text-align:right;" name="txtCredit" class="form-control input-sm currency credit adaptive-textbox" data-bind="value:Credit,attr: {id: 'credit_' + $index() }">
   </td>
   <td rowspan="1" style="width:25px">
        <div class="upload-btn-wrapper">
            <button class="btn btn-sm"><span class="glyphicon glyphicon-upload"></span></button>
            <input type="file" class="upload" data-bind="attr: {id: 'upload_' + $index() },value:Attachment" name="upload" />
            <span class="glyphicon glyphicon-paperclip" data-bind="visible:Attachment"></span>

        </div>
    </td>
   <td rowspan="1" style="width:25px"><button class="btn btn-danger btn-sm " id="btnDeleteSummary" data-bind="click: multijournal.removeRow"><span class="glyphicon glyphicon-trash"></span></button></td>
</tr>
<tr>
   <td style="border-top: none">
      <input type="text" name="txtDocumentNo" class="form-control input-sm" data-bind="value:DocumentNumber" disabled>
   </td>
   <td style="border-top: none">
      <input type="text" name="txtAccountName" class="form-control input-sm" data-bind="value:Acc_Name" disabled>
   </td>
   <td style="border-right:none; font-weight:600; font-size:14px; vertical-align: middle">
      <span>Description</span>
   </td>
   <td colspan="5" style="border-left:none;">
      <input type="text" name="txtDescription" class="form-control input-sm" data-bind="value:Description">
   </td>
</tr>
</script>
<div>
   <div class="row" data-bind="visible: !model.Processing()">
      <div class="col-md-12">
         <div class="panel-heading">
            <div>
               <div class="labeljournal">Multi Journal: <span data-bind="text:multijournal.cashNameJournal()"></span></div>
            </div>
            <div class="row">
                <div class="col-md-12 margin15">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active tab1"><a href="#" class="active tab1" aria-controls="List" role="tab" data-toggle="tab" onclick="multijournal.changetoCashIn('CashIn')">Cash In</a></li>
                        <li class="tab2"><a href="#" class="tabTitle tab2" aria-controls="Created" role="tab" data-toggle="tab" onclick="multijournal.changetoCashOut('CashOut')">Cash Out</a></li>
                        <li class="tab3"><a href="#" class="tabTitle tab3" aria-controls="Created" role="tab" data-toggle="tab" onclick="multijournal.changetoGeneral('General')">General Journal</a></li>
                    </ul>
                    <div class="tab-content">
            <!-- <div class="row">
            <div class="col-md-12">
            <a href="#" onclick="multijournal.changetoCashIn()" class="icon-btn" style="background-color: #88C47B;">
                  <img src="../res/metronic/admin/layout/img/image2.png" style="width: 35px;">
               <div> Cash In </div>
            </a>
            <a href="#" onclick="multijournal.changetoCashOut()" class="icon-btn" style="background-color: #57BFC5;">
               <img src="../res/metronic/admin/layout/img/image1.png" style="width: 35px;">
               <div> Cash Out </div>
            </a>
            <a href="#" onclick="multijournal.changetoGeneral()" class="icon-btn" style="background-color: #F7C14C;">
               <img src="../res/metronic/admin/layout/img/image3.png" style="width: 35px;">
               <div> General Journal  </div>
            </a>
            </div>
            </div> -->
         </div>
      </div>
      <div class="col-md-12">
         <div class="tools" style="margin-top: -4px; text-align:right;padding:15px;">
            <button  type="button" class="btn btn-sm btn green-meadow btn-flat" onclick="multijournal.addNewRow()"><i class="fa fa-plus"></i> Add New</button>
            <button  type="button" class="btn btn-sm btn-danger btn-flat" onclick="multijournal.resetRow()"><i class="fa fa-repeat"></i> Reset</button>
         </div>
         <div class="col-md-12" style="overflow-x: scroll; margin-bottom: 10px;">
            <table class="table table-bordered" id="JournalTable">
               <thead>
                  <tr>
                     <th width="50">No.</th>
                     <th width="120">Date and Document No.</th>
                     <th width="120">Account</th>
                     <th width="120">Department</th>
                     <th width="120">Sales</th>
                     <th width="130">Debet</th>
                     <th width="130">Credit</th>
                     <th width="50" style="text-align: center;"><span class="glyphicon glyphicon-paperclip"></span></th>
                     <th width="10">Action</th>
                  </tr>
               </thead>
               <tfoot>
                  <tr style="text-align:right; font-weight:bold">
                     <td colspan="5">Total</td>
                     <td><span data-bind="text:multijournal.totalDebet" class="currency"></span></td>
                     <td><span data-bind="text:multijournal.totalCredit" class="currency"></span></td>
                     <td colspan="3">&nbsp;</td>
                  </tr>
                  <tr style="text-align:right; font-weight:bold">
                     <td colspan="5">Balance</td>
                     <td><span></span></td>
                     <td><span data-bind="text:multijournal.balance" class="currency"></span></td>
                     <td colspan="3">&nbsp;</td>
                  </tr>
               </tfoot>
               <tbody data-bind="template:{name:'tableRow', foreach:multijournal.record.ListDetail}"></tbody>
            </table>
         </div>
         <div class="col-md-12">
            <button type="button" class="btn btn-success btn-sm pull-right" data-bind="click:multijournal.saveData"> <i class="fa fa-floppy-o"></i>&nbsp;Save</button>
         </div>
      </div>
   </div>
</div>
<div class="clearfix"></div>
<!-- <div class="row" data-bind="visible: model.Processing()">
   {{template "_loader2.html"}}
</div> -->